body {
  font-family: "poppins", sans-serif;
}

.parent {
  width: 600px;
  margin: 0 auto;
  background-color: #eff2f7;
}

.child {
  /* width: 200px;
  height: 200px;
  line-height: 200px; */
  text-align: center;
  color: #fff;
  font-weight: 600;
}
/*
Type1.static
static은 모든 요소의 기본 position값이다.
우리가 생각하는 대부분의 요소의 초기 포지션의 일반적인 상태가 static이다.
*/

/*Type2.relative
.red {
  background-color: #ff4949;
  position: relative;
  top: 20px;
  right: 200px;
}

.yellow {
  background-color: #ffc82c;
}

.blue {
  background-color: #0066ff;
}
*/

/*Type2.absolute

*/
