* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

button,
textarea,
input {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-weight: 400;
  color: #2b292d;
}

/* <= 768px (Mobile) */
/* Landing page */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdded8;
  width: 100wh;
  height: 568px;
}

.landing-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -5%;
  text-align: center;
  color: #2b292d;
}

.landing-subtitle {
  margin-top: 24px;
  text-align: center;
}

.landing-button {
  display: flex;
  margin-top: 24px;
  color: #3040c4;
  text-align: center;
  justify-content: center;
}

.apply-button,
.learn-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 2px;
}

.apply-button:hover,
.learn-button:hover {
  color: #ffffff;
  background-color: #3040c4;
  transition: background-color 1200ms;
}

.apply-button {
  margin-right: 8px;
}

/* Service page */
.service {
  height: 496px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f7;
}

.service-title {
  color: #2b292d;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.36;
  margin-bottom: 16px;
  letter-spacing: -0.04em;
}
.service-desc {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
  letter-spacing: -0.01em;
}

/* Program page */
.program {
  height: 1400px;
}

.program-title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #009b4d;
  margin: 80px 0 8px 0;
}

.program-content-head {
  color: #2b292d;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

.program-content-desc {
  margin-bottom: 32px;
}

.program-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 290px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.program-card img {
  width: 140px;
  height: 195px;
  margin-bottom: 16px;
}

.program-card p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333;
  text-align: center;
  letter-spacing: -0.02em;
}
/* >= 768px (Desktop)*/
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.363636;
  }
}

/* CUstom Frid System - fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
