* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

button,
textarea,
input {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-weight: 400;
  color: #2b292d;
}

/* <= 768px (Mobile) */
/* Landing page */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdded8;
  width: 100wh;
  height: 568px;
}

.landing-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -5%;
  text-align: center;
  color: #2b292d;
}

.landing-subtitle {
  margin-top: 24px;
  text-align: center;
}

.landing-button {
  display: flex;
  margin-top: 24px;
  color: #3040c4;
  text-align: center;
  justify-content: center;
}

.apply-button,
.learn-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 2px;
}

.apply-button:hover,
.learn-button:hover {
  color: #ffffff;
  background-color: #3040c4;
  transition: background-color 1200ms;
}

.apply-button {
  margin-right: 8px;
}

/* Service page */
.service {
  height: 496px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f7;
}

.service-title {
  color: #2b292d;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.36;
  margin-bottom: 16px;
  letter-spacing: -0.04em;
}
.service-desc {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
  letter-spacing: -0.01em;
}

/* Program page */
.program {
  height: 1400px;
}

.program-title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #009b4d;
  margin: 80px 0 8px 0;
}

.program-content-head {
  color: #2b292d;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

.program-content-desc {
  margin-bottom: 32px;
}

.program-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 290px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.program-card img {
  width: 140px;
  height: 195px;
  margin-bottom: 16px;
}

.program-card img:hover {
  transform: translateY(-8%);
  transition: transform 2000ms;
}

.program-card p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333;
  text-align: center;
  letter-spacing: -0.02em;
}

/* curriculum page */
.curriculum {
  height: 710px;
}
.curriculum-title {
  display: block;
  color: #0189d1;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin: 80px 0 8px 0;
}

.curriculum-card-head {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.03em;
  color: #2b292d;
  margin-bottom: 24px;
}

.curriculum-card-desc {
  margin-bottom: 32px;
}

.curriculum-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #3040c4;
  outline: none;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  margin-bottom: 48px;
}

.curriculum-card-button:hover {
  background-color: rgba(48, 64, 196, 0.2);
  color: #3040c4;
  transition: background-color 2000ms, color 800ms;
}

.curriculum-card-img img {
  display: none;
}

.curriculum-detail-desc:first-child {
  margin-bottom: 40px;
}

/* banner */
.banner {
  height: 588px;
  background-color: #e5e5e5;
}

.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  margin: 65px 0 41px 0;
}

.banner-img img {
  display: block;
  width: 190px;
  height: 190px;
}

.banner-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2b292d;
  margin-bottom: 16px;
}

.banner .input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group input,
button {
  width: 290px;
  height: 48px;
}

.input-group input {
  margin-bottom: 8px;
  border-radius: 2px;
  border: none;
}

.input-group input:focus {
  border: 1px solid #0189d1;
}

.input-group button {
  border-radius: 2px;
  border: none;
  background-color: #3040c4;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.banner-misc {
  color: #7b7b7e;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.53;
  text-align: center;
}

.banner-misc a {
  color: #0189d1;
  border-bottom: 1px solid #0189d1;
}

/* footer */
footer {
  height: 136px;
}

footer a {
  display: block;
}

footer a:first-child {
  margin-top: 24px;
}
.footer-desc {
  display: block;
  color: #807f81;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 8px;
}

/* >= 768px (Desktop)*/
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.363636;
  }
}

/* CUstom Frid System - fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
