* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #7d7d7d;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.line-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 56px;
  font-size: 16px;
  line-height: 0.8;
  background-color: #ffffff;
}
